@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --shadow-center: 0 0 12px -2px rgb(0 0 0 / 0.05);
  --animate-pulse-fast: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@plugin "daisyui" {
  themes:
    light,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";

  --color-primary: #969696;
  --color-primary-content: #212638;
  --color-secondary:  #132e17;
  --color-secondary-content: #4f4f4f;
  --color-accent: #b5b7ba;
  --color-accent-content: #b5b7ba;
  --color-neutral: #ffffff;
  --color-neutral-content: #b5b7ba;
  --color-base-100: #0a0909;
  --color-base-200: #000000;
  --color-base-300: #1a1919;
  --color-base-content: #b5b7ba;
  --color-info: #d9d9d9;
  --color-success: #34eeb6;
  --color-warning: #ffcf72;
  --color-error: #ff8863;

  --radius-field: 9999rem;
  --radius-box: 1rem;
  --tt-tailw: 6px;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #969696;
  --color-primary-content: #212638;
  --color-secondary: #132e17;
  --color-secondary-content: #4f4f4f;
  --color-accent: #b5b7ba;
  --color-accent-content: #b5b7ba;
  --color-neutral: #ffffff;
  --color-neutral-content: #b5b7ba;
  --color-base-100: #0a0909;
  --color-base-200: #000000;
  --color-base-300: #1a1919;
  --color-base-content: #b5b7ba;
  --color-info: #d9d9d9;
  --color-success: #34eeb6;
  --color-warning: #ffcf72;
  --color-error: #ff8863;

  --radius-field: 9999rem;
  --radius-box: 1rem;

  --tt-tailw: 6px;
  --tt-bg: var(--color-primary);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-base-300, currentColor);
  }

  p {
    margin: 1rem 0;
  }

  body {
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0.5rem;
    line-height: 1;
  }
}

@layer components {
  .range-secondary40 {
    @apply w-[300px] mx-auto;
  }

  /* Track */
  .range-secondary40::-webkit-slider-runnable-track {
    height: 10px;
    border-radius: 0.5rem;
    background-color: var(--color-secondary);
    opacity: 0.4; /* secondary/40 */
  }
  .range-secondary40::-moz-range-track {
    height: 10px;
    border-radius: 0.5rem;
    background-color: var(--color-secondary);
    opacity: 0.4;
  }

  /* Thumb: black with white outline */
  .range-secondary40::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #000; /* black */
    border: 2px solid #fff; /* white outline */
    cursor: pointer;
    margin-top: -4px; /* centers thumb vertically */
  }
  .range-secondary40::-moz-range-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #000; /* black */
    border: 2px solid #fff; /* white outline */
    cursor: pointer;
  }
}

:root,
[data-theme] {
  background: var(--color-base-200);
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.link {
  text-underline-offset: 2px;
}

.link:hover {
  opacity: 80%;
}
